[defaults]
inventory = inventory.ini
host_key_checking = True
interpreter_python = auto_silent
timeout = 30
retry_files_enabled = False
vault_password_file = .vault_pass

[ssh_connection]
ssh_args = -o UserKnownHostsFile=known_hosts

[privilege_escalation]
become = True
become_method = sudo
